            <aside id="contactinfo">
            <p> 
        	
<a href="tel:+96824493466"> <img src="Images/baseline_call_white_48dp.png" alt="Conatct Call image">+968 24493466</a>
       
            <br/>
    
     <a href="https://wa.me/96898034000"> <img src="Images/baseline_message_white_48dp.png" alt="Conatct Message image"> +968 98034000</a>
             <br/>
        
        <a href = "mailto: ayanaSpa@info.om"><img src="Images/baseline_mail_white_48dp.png" alt="Mail image">ayanaSpa@info.om</a>
                <br/>
                <img src="Images/baseline_room_white_48dp.png" alt="Location image"> Al Kharjiyah Street,<br/> Second floor,<br/> Al Sarooj Plaza,<br/>
                Al Shatti Qurum,<br/> Muscat 103,<br/> Oman
          </p>
     
        </aside>