<!doctype html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
    content="This a Website about Ayana spa , we provide manicure and pedicure , massages">
    <link rel='icon' href="Images/icon-spa-goers.ico" type='image/x-icon'>
    <link href="Style/bootstrap.min.css" rel="stylesheet">
    <link href="Style/custom.css" rel="stylesheet">    
     <link href="Style/custom2.css" rel="stylesheet">
       <link href="Style/servicecustom.css" rel="stylesheet">
    <link rel="stylesheet" href="Style/customHome.css">
  <title>Ayana Spa</title>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  
       <section class="logosec">
           <a href="/">
       <img src="Images/icon-spa-goers.png" alt="Logo" id="Logo"> 
    <h1> Ayana Spa </h1>
               </a>
            </section> 
      
      
      


  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" >Home</a>
      <a class="nav-item nav-link" href="book">Reservation</a>
        
        <a class="nav-item nav-link" href="services">Services</a>
        
        
        
      <a class="nav-item nav-link" href="Contact">Contact US</a>





    </div>
  </div>
    

    <div class="btn-group">
 <a class="nav-item nav-link" href="Register">
        <button type="button" class="btn btn-secondary ml-2">
         Register <span class="badge badge-light" id="Register"></span>
        </button>
    </div>
      
    <div class="btn-toolbar">
        <a class="nav-item nav-link" href="/book">
        <button type="button" class="btn btn-secondary ml-2">
         Book Services <span class="badge badge-light" id="checkout"></span>
        </button>
        </a>
    </div> 
      
  
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



</nav>       


</head>

<body>

    {{{body}}}
     <script src="js/jquery-min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>