
        <h1>Show results of form in different page </h1>

<h2>Date {{form.Date}}</h2>
<h2>Time {{form.time}}</h2>

  
<script src="js/jquery-min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script> 





