<head>
        <meta name="description" content="This is the registration page of Ayana Spa">
        <title>Register</title>
        <link rel="stylesheet" href="Style/custom.css">
        
    </head>
    <body>

    <main>
        
        
        <h1 id="contactheader">Contact Us</h1>
        
        
<div  class="container">
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.941630724065!2d58.451091715063754!3d23.606426200177715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e91ff48e72ddd3f%3A0x49f8edc71d706a44!2sAyana%20Spa!5e0!3m2!1sen!2sie!4v1575759117599!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>  
        
        
{{> Contactinfo}}
    </main>