
  <main class="container">

        <table>
    <tr>

        <th>Service</th>
        <th>Price</th>
    </tr>

    {{#each data}}
    <tr>
      
        <td>{{this.Name}}</td>
        <td>{{this.Price}}</td>
        <td><a href="/Details/{{@key}}">Details</a></td>
    </tr>
    {{/each}}


</table>



    <h1>Our Services</h1>

    <div class="container">


      <div class="card">
        <div class="card-header">
          OMR 33.6
        </div>
        <div class="card-body">
          <h5 class="card-title">HOT LAVA SHELL</h5>
          <img src="images/hotstonemassage.jpg" class="img" alt="massage img" />
          </br>




          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>



      <div class="card">
        <div class="card-header">
          OMR 3.5
        </div>
        <div class="card-body">
          <h5 class="card-title">File and Polish Refresh

          </h5>
          <img src="images/mani2.jpg" class="img" alt="Manicure img" />    </br>
       
          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>



      <div class="card">
        <div class="card-header">
          OMR 7.5
        </div>
        <div class="card-body">
          <h5 class="card-title">Chrome Nails
          </h5>
          <img src="images/chromenails.jpg" class="img" alt="Manicure img" />    </br>
           
            <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>




      <div class="card">
        <div class="card-header">
          OMR 6.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Paraffin Hand Treatment

          </h5>
          <img src="Images/mani5.jpg" class="img" alt="Manicure img" />    </br>
        
          <a href="book.handlebars" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          OMR 26.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Deep Tissue Massage

          </h5>
          <img src="Images/massage2.jpeg" class="img" alt="massage img" />    </br>
  
          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          OMR 12.5
        </div>
        <div class="card-body">
          <h5 class="card-title">Indian Head Massage

          </h5>

          <img src="Images/indian-massage-vedas-academy-600x465@2x%20(1).jpg " class="img" alt="indian massage"/>    </br>

        
          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          OMR 20.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Reflexology

          </h5>
          <img src="Images/massage4.jpg" class="img" alt="massage img" />    </br>
  
          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          OMR 15.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Mermaid Manicure

          </h5>
          <img src="images/mani3.jpg" class="img" alt="Manicure img" />    </br>

          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>



      <div class="card">
        <div class="card-header">
          OMR 25.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Pregnancy Massage

          </h5>
          <img src="Images/massage5.jpeg" class="img" alt="massage img" />    </br>
 
          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          OMR 5.0
        </div>
        <div class="card-body">
          <h5 class="card-title">A Petite Treat…For the Hands


          </h5>
          <img src="Images/massage6.jpg" class="img" alt="massage img" />    </br>

          <a href="#" class="btn btn-primary addtocart">Add Service</a>
        </div>
      </div>





    </div>
  </main>
  <script src="js/jquery-min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="custom-js/custom.js"></script>
